<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>

    <link rel="stylesheet" type="text/css" href="/css/library.css" />
</head>
<body>

<div th:fragment="navbar">
    <ul>
        <li>
            <a th:href="@{/meal}">My Meals</a>
        </li>
        <li>
            <a th:href="@{/dish}">Dishes</a>
        </li>
        <li>
            <a th:href="@{/ingredient}">Ingredients</a>
        </li>
    </ul>
</div>

<div th:fragment="footer">
    <footer><p class="text-center text text-muted">Copyright Nadine Beck &copy;2024</p> </footer>
</div>

<div th:fragment="bottomScripts">

</div>

</body>
</html>