<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new dish</title>
</head>
<body>

<h1>Add a new dish</h1>
<form th:action="@{/dish/new}" method="post" th:object="${dish}">
    <input type="hidden" th:field="*{dishId}">
    <table>
        <tr>
            <td><label for="nameField">Name</label></td>
        </tr>
        <tr>
            <td>
                <input type="text" id="nameField" th:field="*{name}" />
            </td>
            <td>
                <select id="ingredientField" th:field="*{ingredients}" multiple>
                    <option th:each="ingredient : ${allIngredients}"
                            th:text="${ingredient.name}"
                            th:value="${ingredient.ingredientId}">
                    </option>
                </select>
            </td>
            <td>
                <input type="text" id="gramsOfCarbohydratesField" th:field="*{gramsOfCarbohydrates}" />
            </td>
        </tr>
    </table>

    <input type="submit" value="Save dish" />
</form>
</body>
</html>